.blueG {
  background: linear-gradient(45deg, lightblue 30%, lightcyan);
}
.forceR {
  left: 200;
}
.linkB {
  color: azure;
  right: 1%;
}
.logForm {
  color: azure;
  float: center;
}

* body {
  align-content: center;
}
